**

!/android/
!/assets/
!/cmake/
!/example/
!/dependencies/CMakeLists.txt/
!/dependencies/patch/
!/deploy/
!/doc/
!/programs/
!/sources/
!/tests/
!/CMakeLists.txt/
!/README.md/
!/LICENSE/
!/zip-dependencies.py/
