/cmake-build-debug/
/cmake-build-release/
/cmake-build-relwithdebinfo/
/cmake-build-minsizerel/
/Install/
/build/
/Release/
/RelWithDebInfo/
/Debug/
/Artifacts/
/Doxygen/
/Tmp/
/venv/
/.gradle/
/.idea/
/out/
/.vs/
CMakeSettings.json
/build_tmp/
