*.patch text eol=lf
Assets/**/*.dds filter=lfs diff=lfs merge=lfs -text
Assets/**/*.png filter=lfs diff=lfs merge=lfs -text
Assets/**/*.jpg filter=lfs diff=lfs merge=lfs -text
Assets/**/*.blend filter=lfs diff=lfs merge=lfs -text
Assets/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
Binaries/** filter=lfs diff=lfs merge=lfs -text
