/dependencies/external/
/cmake-build-debug/
/cmake-build-release/
/cmake-build-relwithdebinfo/
/cmake-build-minsizerel/
/build-android/
/install/
/build/
/Release/
/RelWithDebInfo/
/Debug/
/artifacts/
/Doxygen/
/tmp/
/cmake-build-android/
/.cxx/
/.gradle/
/local.properties/
/gradlew/
/gradle/
/gradlew.bat/
/venv/
