/cmake-build-debug/
/cmake-build-release/
/cmake-build-relwithdebinfo/
/Release/
/release/
/RelWithDebInfo/
/relwithdebinfo/
/Debug/
/debug/
/build/
/Artifacts/
/artifacts/
/tmp/
/.idea/
/.vs/
/.vscode/
/CMakeLists.txt.user/